.jumbotron {
  background-color: #004d99;
  color: white;
}

#result {
  display: none;
  font-size: 1.5em;
}

.result-img {
  width: 600px;
  border: 3px solid #42425E;
  border-radius: 15px;
}

.has-error {
  color: red;
}



.form-control {
  margin-left: 20px;
}
